/* Rubik from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --sidebar-bg-color: #0092cf;
  --header-bg-color: #ffffff;
  --main-bg-color: #e0e7ef;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container {

  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 200px auto;
  grid-template-areas: 
    "aside header"
    "aside main";
    
  height: 100vh;

}

aside {
  background-color: var(--sidebar-bg-color);
  grid-area: aside;
}
header {
  background-color: var(--header-bg-color);
  grid-area: header;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
main {
  background-color: var(--main-bg-color);
  grid-area: main;
}

.logo a {
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 10px;
  
  font-size: 21px;
  font-weight: 500;
}

nav ul li a {
  padding: 10px;
  padding-left: 18px;

  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  gap: 15px;
  
  font-size: 16px;
  font-weight: 400;
  
  color:black;
}

a {
  text-decoration: none;
  color: black;
}

nav a:hover, .logo a:hover {
  background-color: rgba(255, 255, 255, 0.2)
}

/* :not(:first-child) */
nav ul {
  margin-top: 20px;
}

.search-row {

  padding: 0 10px 0 10px;

  display: grid;
  grid-template-columns: 100fr 1fr;
  align-items: center;
  gap: 15px;
}

.search {
  display:grid;
  grid-template-columns: 40px auto;
  justify-self: stretch;
  align-items: center;
}

.search input {
  border-radius: 15px;
  border: 2px solid #e0e7ef;
  background-color: #e0e7ef;
  color: black;
  height: 35px;
  padding: 0 12px 0 12px;
  font-size: 16px;
}
.search input:focus {
  border-color: var(--sidebar-bg-color);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.mini-profile {
  display:grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  /* gap: 10px; */
  width: 250px;
  justify-self: end;
  justify-items: center;
}

.pad-left {
  padding-left: 10px;
}
.pad-right {
  padding-right: 10px;
}

.rounded {
  border-radius: 50%;
}
.name {
  font-weight:500;
  font-size: 18px;
}

.actions-row {
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 10px 0 10px;
  justify-items: center;
}
.actions-row button {
  border: none;
  background-color: var(--sidebar-bg-color);
  color: white;
  cursor: pointer;
  padding: 11px;
  font-size: 14px;
  border-radius: 18px;
  width: 100px;
  font-weight: 500;
}

.hi-there-section {
  display:grid;
  grid-template-columns: 100px auto;
  align-items: center;
  justify-items: center;
}

.hi-there-text div:last-child { 
  font-size: 24px;
  
}

.action-buttons {
  display:grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
  justify-content: end;
  gap: 10px;
  
}

.your-projects {
  display:grid;
  padding: 20px;
}
.your-projects h1 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-item {
  border-left: 10px solid purple;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
}
.project-item h1 {
  font-weight: 500;
  /* margin:0 ; */
}
.project-item p {
  margin-bottom: 10px;
  color: #636363;
  height: 85px;
  overflow-y:auto;
  
  /* overflow-y: scroll; */
  
}

.project-item-actions {
  display:grid;
  grid-template-columns: repeat(3, 75px);
  justify-items: center;
  float: right;
  /* margin-bottom: 5px; */
}
.project-item img {
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}
.project-item img:hover {
  background-color: rgb(200, 200, 200);
}

.project-list {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  
  line-height: 1.15;
}


